body {
    text-align: center;
}

.titleBox {
  border: 5px solid pink;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -35px;
  margin-top: 25px;
}

.lives {
  width: 30%;
  margin-left: 70%;
  border-left: 5px solid blue;
}

.heart {
  width: 1em;
  height: 1.5em;
  margin: 0;
}
