body {
    text-align: center;
    background: #000 url(https://cssanimation.rocks/demo/starwars/images/bg.jpg);
    font-family: 'Star Jedi', arial;
}

canvas {
  border-left: 0.1px solid white;
  border-right: 0.1px solid white;
}

/* *** Fonts *** */
@font-face {
  font-family: starjedi;
  src: url("../fonts/Starjedi.ttf") format("opentype");
}

@font-face {
  font-family: starjhol;
  src: url("../fonts/Starjhol.ttf") format("opentype");
}

@font-face {
  font-family: starjout;
  src: url("../fonts/Starjout.ttf") format("opentype");
}

@font-face {
  font-family: stjedise;
  src: url("../fonts/STJEDISE.TTF") format("opentype");
}


/* Title Box/Header */
.titleBox {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  color: rgba(255, 215, 0, 1);
  font-family: starjedi;
}

.title {
  padding: 0;
  width: 120%;
  margin-bottom: 5px;
  margin-left: -10%;
  font-family: starjhol;
  font-size: 2.5em;
}

.heart {
  width: 27px;
  height: 27px;
  margin: 0;
  padding-top: 5px;
  vertical-align: middle;
}

.clock {
  vertical-align: text-top;
  font-size: 110%;
  margin-right: 50px;
  margin-left: 50px;
}

.scoreBox {
  vertical-align: text-top;
}

.clock, .lives, .scoreBox {
  display: inline;
}

.hide {
  visibility: collapse;
}


/* Modal Style */
.hidden {
  display: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: starjout;
  font-size: inherit;
}

.modal-box {
  background-color: rgba(255, 215, 0, 0.8);
  border-radius: 5px;
  position: relative;
  width: 495px;
  height: 526px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: auto;
  margin-top: 125px;
}

.popStats {
  display: table;
  font-size: 175%;
  font-family: starjedi;
  margin-top: -100px;
}

.popWinMsg {
  font-size: 300%;
  margin-top: 100px;
}

.popLife1, .popLife2, .popLife3 {
  vertical-align: middle;
}

.popWinMsg, .popTimeLeft, .popScoreBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popRestart {
  z-index: 3;
  left: 445px;
  font-size: 1.5em;
  padding-top: 3px;
}

.popReturn {
  z-index: 2;
  left: 15px;
  font-size: 2em;
}

.popReturn, .popRestart {
  position: absolute;
  background-color: rgba(174, 144, 117, 0);
  border: solid 1px rgba(174, 144, 117, 0);
  text-align: center;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  top: 490px;
  text-align: center;
}
