body {
    text-align: center;
    background: #000 url(https://cssanimation.rocks/demo/starwars/images/bg.jpg);
    font-family: 'Star Jedi', arial;
}

canvas {
  border-left: 0.1px solid white;
  border-right: 0.1px solid white;
}


/* Title Box/Header */
.titleBox {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  color: rgba(255, 215, 0, 1);
}

.title {
  padding: 0;
  width: 100%;
  margin-bottom: 5px;
}

.lives {
  padding: none;
  width: 20%;
  line-height: 18px;
  margin-bottom: 8px;
}

.heart {
  width: 25px;
  height: 35px;
  margin: 0;
  padding: 0;
}

.title, .lives {
  /* display: inline; */
  margin-right: auto;
  margin-left: auto;
}

.hide {
  visibility: collapse;
}

.hide {
  visibility: collapse;
}

/* Modal Style */
.hidden {
  display: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: inherit;
}

.modal-box {
  background-color: rgba(255, 215, 0, 0.8);
  border-radius: 5px;
  position: relative;
  width: 495px;
  height: 526px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 125px;

}

.popRestart {
  z-index: 3;
  left: 445px;
  font-size: 1.5em;
  padding-top: 3px;
}

.popReturn {
  z-index: 2;
  left: 15px;
  font-size: 2em;
}

.popReturn, .popRestart {
  position: absolute;
  background-color: rgba(174, 144, 117, 0);
  border: solid 1px rgba(174, 144, 117, 0);
  color: #ffffff;
  text-align: center;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  top: 490px;
  text-align: center;
}
